html {
  overflow: hidden;
}
body{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body, input, button {
  font-family: 'Roboto Condensed', sans-serif;
}
nav.navbar {
  padding: 0.5rem 1rem;
}
footer.footer, .bottom{
  position: relative;
  background-color: rgba(255, 255, 255, 0.253);
  padding: 0.2rem 0.2rem;
  width: 100%;
  bottom: 0;
}
footer.bottom.footer {
  position: absolute;
}
.column.principal {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('./images/heroes-bg.jpg');
  background-size: cover;
}
.columns {
  overflow-y: auto;
  overflow-x: hidden;
}
.level {
  border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3273dcb0; 
  border-radius: 1px;
}
@media screen and (min-width: 770px){
  .card .card-content{
    min-width: 400px;
  }
 
}
@media screen and (min-width: 770px) and (max-width: 1024px){
  .column.is-3 {
    width: 52%;
  }
  .columns {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .column.is-3 .content table.table {
    width: 40%;
    margin-left: 2%;
  }
  .media {
    width: 46%;
  }
  .level {
    flex-wrap: wrap;
  }

}
@media screen and (min-width: 1024px) {
  .column.is-3 {
    width: 25%;
  }
  .columns {
    width: 100%;
  }
  .column.is-3 .content table.table {
    width: 47%;
    margin-left: 5%;
  }
  .media {
    width: 52%;
  }
  
}
@media screen and (min-width: 1380px) {

  .column.is-3 .content table.table {
    width: 65%;
    margin-left: 10%;
  } 
}
