html {
  overflow: hidden;
}
body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body, input, button {
  font-family: 'Roboto Condensed', sans-serif;
}
.column {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('./images/heroes-bg.jpg');
  background-size: cover;
}

